services:
  - type: web
    name: portfolio-server
    env: node
    region: oregon
    buildCommand: cd server && npm install
    startCommand: cd server && node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false

  - type: web
    name: portfolio-client
    env: static
    region: oregon
    buildCommand: cd client && npm install && npm run build && cp public/_redirects dist/_redirects
    staticPublishPath: ./client/dist
    envVars:
      - key: NODE_ENV
        value: production
