services:
  - type: web
    name: portfolio-server
    env: node
    region: oregon
    buildCommand: cd server && npm install
    startCommand: cd server && node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false

  - type: web
    name: portfolio-client
    env: static
    region: oregon
    buildCommand: cd client && npm install && npm run build && echo '/*    /index.html   200' > dist/_redirects
    staticPublishPath: ./client/dist
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_API_URL
        value: https://portfolio-server-jto0.onrender.com/api/blogs
      - key: VITE_CONTACT_API_URL
        value: https://portfolio-server-jto0.onrender.com/api/contact
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_SUPABASE_ANON_KEY
        sync: false
      - key: VITE_ADMIN_PASSWORD
        sync: false
